*{margin: 0px; padding: 0px; box-sizing: border-box; 
}
/*RESPONSIVE*/
@media (max-width: 600px){
    nav{width:200%;}
    .link{font-size: 200%;}
}

@media (min-width:600px){
    nav{width:200% ;}
    .link{font-size: 200%;}
}
@media(min-width:900px){
    nav{ width:200% ;}
    .link{font-size: 200%;}
}


/*BARRA DE NAVEGACION*/
nav{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    width: 100%;
    background-image: url(../img/comida.jpg);
    background-size: 100%;
    animation: movimiento 20s infinite linear alternate;  
    word-spacing: 10px;
}
.link:link{color: rgb(250, 49, 216);}
.link:visited{color: rgb(255, 0, 76);}
.link:hover{
    color: rgb(255, 25, 205);
    background-color:rgb(169, 245, 245);
    border:2px solid rgb(255, 255, 255);
}
.link{
    padding: 0.8%;
    font-size: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color:rgb(255, 227, 246); ;
    text-align: center;
    text-decoration:none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes movimiento {
    from{background-position: top; }
    to{background-position: bottom; }
}


/* TITULO*/
header{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color: rgb(136, 240, 240);
    text-shadow: 3px 2px 2px rgb(236, 87, 212);
}

/*BODY DEL INDEX*/
h2{
    color: rgb(255, 128, 234);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-size: 39px;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    text-align: center;
    font-family: 'Itim', cursive; 
}

#fotocomida {
    margin-bottom: 20%;
    list-style: none;
	display: flex;
	flex-direction:row;
    justify-content: center;
}

.linkcomida{
    margin-left: 20%;
    border-radius: 5%;
    width: 60%;
    height: 80%;
    transition: border-radius 1s;
    border: 5px solid pink;
}
.linkcomida:hover{
    border-radius: 20%;
    border: 5px solid rgb(240, 59, 144);
}

#proximamente {
    color: rgb(155, 36, 235);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 3%;
}


/*CURIOSIDADES*/
#lista.curiosidades{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.curiosidadescomida {
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    background-color: rgb(250, 223, 223);
    border-radius: 7%;
    margin-bottom: 5%;
}

h3{
    color: rgb(81, 6, 255);
    margin-top: 1%;
    margin-left: 2%;
    font-family: 'Bebas Neue', cursive;
    font-style: oblique;
    font-size: 190%;
}

.curiosidadescomida img{
    padding: 0%;
    margin: 2%;
    border: 4px solid rgb(111, 1, 255); 
    border-radius: 0%;  
    transition: border-radius 1s;
}
.curiosidadescomida img:hover{
    border-radius: 30%;
}

.curiosidadescomida p{
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    font-size: 130%;
    margin-left: 2%;
}


/*CONTACTO*/

.pcontacto{
    margin: 60px 0% 40px 1%;
    font-family: 'Patrick Hand', cursive;
    font-size: 130%;
    margin-left: 2%; 
}
#correo {
    color: rgb(154, 2, 255);
    padding: 20px;
    margin-left: 35%;
    font-size: 200%;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(227, 245, 67);
    border: 2px solid black;
    border-radius: 100px ;
    transition: 2s color, 2s border-radius, 2s background-color;
}

#correo:hover{
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 255);
    background-color: rgb(157, 255, 101);

}

#direccion{
    margin: 3%;
}

/*RECETA*/

.carousel-inner{
    margin-top: 3%;
    margin-bottom: 3%;
}
.img-carousel{
    margin-left: 25%;
}
.carousel-control-prev{
    background-color: rgb(105, 23, 138);
}
.carousel-control-next{
  background-color: rgb(105, 23, 138);
}

#listaingredientes{
    margin: 5%;
    font-family: cursive;
}
#preceta{
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    font-size: 130%;
    margin: 0% 2% 4%;
}

#videotutorial{
    /*margin: 30px 380px 30px ;*/
    margin: 3% 28% 3%; 
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}


/*FOOTER*/
footer{
    margin-top: 50px;
    padding: 25px;
    word-spacing: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/fondocomida2.jpg);
	color: #f700ff;
    
}

#redessociales {
    padding: 5px;
    font-size: 25px; 
    text-align: center;
    word-spacing: 10px;
    color: rgb(250, 0, 0);
}
 
#redessociales :hover{
    transform: scale(1.4);
}